body{
    background-color: burlywood;
}

#startquiz{
    display: flex;
    justify-content: center;
    align-items: center;
}

#quizsect, #quiz, #time {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 10px;
}

button:hover {
opacity: 50%;
}